VimL:" $Id: xsl-template-match.template 326 2011-01-06 01:37:00Z luc.hermitte $
VimL:"{xsl:template} Template File, Luc Hermitte
VimL:" hint: <xsl:template match="XPath"></xsl:template>
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = 'Â¡'
VimL: let s:reindent     = 1 
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
<xsl:template match="<+XPath+>">
<++>
</xsl:template>
