[submodule "bundle/railscasts-theme"]
	path = bundle/railscasts-theme
	url = git@github.com:dhruvasagar/vim-railscasts-theme.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/clang-complete"]
	path = bundle/clang-complete
	url = git@github.com:myint/clang-complete.git
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = git@github.com:eagletmt/neco-ghc.git
