[submodule "bundle/vim-airline"]
    path = bundle/vim-airline
    url = https://github.com/bling/vim-airline
    branch = master
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = https://github.com/ervandew/supertab.git
    branch = master
[submodule "bundle/clang-complete"]
    path = bundle/clang-complete
    url = https://github.com/myint/clang-complete.git
    branch = master
[submodule "bundle/easy-align"]
    path = bundle/easy-align
    url = https://github.com/junegunn/vim-easy-align.git
    branch = master
[submodule "bundle/vim-gitgutter"]
    path = bundle/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter.git
    branch = master
[submodule "bundle/vim-airline-themes"]
    path = bundle/vim-airline-themes
    url = https://github.com/vim-airline/vim-airline-themes.git
    branch = master
[submodule "bundle/tagbar"]
    path = bundle/tagbar
    url = https://github.com/majutsushi/tagbar.git
    branch = master
[submodule "bundle/undotree"]
    path = bundle/undotree
    url = https://github.com/mbbill/undotree.git
    branch = master
[submodule "bundle/badwolf"]
    path = bundle/badwolf
    url = https://github.com/sjl/badwolf.git
    branch = master
[submodule "bundle/gutentags"]
    path = bundle/gutentags
    url = https://github.com/ludovicchabant/vim-gutentags.git
    branch = master
[submodule "bundle/vim-dispatch"]
    path = bundle/vim-dispatch
    url = https://github.com/tpope/vim-dispatch.git
    branch = master
    branch = master
[submodule "bundle/gruvbox"]
    path = bundle/gruvbox
    url = https://github.com/morhetz/gruvbox.git
    branch = master
