VimL:" $Id: c-imp.template 33 2008-02-19 01:26:11Z luc.hermitte $
VimL:"C/C++ Definition File-Template, Luc Hermitte
VimL: " The following include is meant to be overriden
VimL: let s:filename = s:path_from_root(expand('%:p'))
VimL: call s:Include('c-file-header', 'c/internals')
VimL: " Deduce the name (and relative path) to the associated header file
VimL: let s:header = lh#cpp#file#HeaderName(expand('%:p'))
VimL: " Include this associated header file, if found
Â¡strlen(s:header)>0  ? '#include "'.s:header.'"'  :""Â¡
VimL: " Include the associated inline file, if found
Â¡filereadable(expand("%:p:r").'.inl')? '#include "'.expand('%:t:r').'.inl"':""Â¡
<+preprocessor+>
