VimL:" $Id: cpp.template 33 2008-02-19 01:26:11Z luc.hermitte $
VimL:" C/C++ File Template, Luc Hermitte, 30th mar 2003
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = 'Â¡'
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:Include( (expand("%:e") =~ '^hh\=$\|^hpp$') ?'c-header' : 'c-imp', 'c/internals')
