VimL: "" css File Template, mfukar, Tue Feb 25, 2014 14:33 GMT
VimL: let s:value_start = 'Â¡'
VimL: let s:value_end = 'Â¡'
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
	<style>
	html {
		font-family: Input;
		font-size: 14px;
	}
	body {
		width: 1000px;
	}
	blockquote {
		font-style: italic;
	}
	pre, code {
		background-color: #eeeeee;
		color: #d14;
		white-space: pre-wrap;
	}
	pre {
		padding: 0.5em;
		border-radius: 5px;
		border: 1px solid #aaa;
		margin-left: 5em;
		margin-right: 0.5em;
	}
	h2 {
		margin-left: 2em;
	}
	li {
		margin: 0 0 3px 2em;
	}
	</style>
