VimL: " $Id
VimL: " MyProject-C/C++-File-header File-Template, Luc Hermitte
VimL: " If you have one file to set specific header in your project
VimL: " files, then override this file
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = 'Â¡'
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
/*
 * Â¡'$'Â¡Id$
 */
