VimL: " $Id: perl.template 33 2008-02-19 01:26:11Z luc.hermitte $
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = 'Â¡'
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
#!/usr/bin/perl
# Author:	Â¡Author()Â¡
# Purpose:	<+enter here+>
# Created:	Â¡strftime("%c")Â¡
