VimL: " $Id
VimL: " muTemplate Test File-Template, Luc Hermitte
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = 'Â¡'
VimL: let s:times = exists('s:times') ? (s:times+1) : 1
This part has been includedÂ¡s:msgÂ¡ Â¡((s:times==1)?'once':(s:times==2 ? 'twice' : (s:times.' times')))Â¡.
VimL: if s:times <= 4 | call s:Include('test-included') | endif 
VimL: silent! unlet s:times
