VimL:" $Id: if.template 326 2011-01-06 01:37:00Z luc.hermitte $
VimL:"IF() Template-File, Luc Hermitte
VimL:" hint: IF(cond) ... ENDIF(cond)
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = 'Â¡'
VimL: let s:reindent     = 1 
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
IF (<+cond+>)
    <+code+>
ENDIF(<+cond+>)
