VimL:" $Id: do.template 326 2011-01-06 01:37:00Z luc.hermitte $
VimL:"{do-while} Template-File, Luc Hermitte
VimL:" hint: do { action } while (cond);
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = 'Â¡'
VimL: let s:reindent     = 1 
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
doÂ¡C_nl_before_curlyB()Â¡{
    <+code+>
}Â¡C_nl_before_curlyB()Â¡whileÂ¡C_nl_before_bracket()Â¡(<+cond+>);<++>
