VimL:" $Id: main.template 326 2011-01-06 01:37:00Z luc.hermitte $
VimL:"{main(){...}} Template-File, Luc Hermitte
VimL:" hint: int main(argc, argv) { ... }
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = 'Â¡'
VimL: let s:reindent     = 0
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
int main (<+int argc, char **argv+>)
{
    <+code+>

    return EXIT_SUCCESS;
}
