VimL:" $Id: switch.template 358 2011-01-08 03:17:29Z luc.hermitte $
VimL:"{switch-case} Template-File, Luc Hermitte
VimL:" hint: switch (cond) { case... default ...}
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = 'Â¡'
VimL: let s:reindent     = 0
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: function! s:_LoopOverCases()
VimL:"  echomsg "switch args -> " .string(s:Args())
VimL:   if empty(s:Args())
VimL:     call s:Include('case', 'c')
VimL:   else
VimL:     let args = s:Args()[0].values
VimL:     for arg in args
VimL:       if arg !~ 'MAX__$'
VimL:         call s:Include('case', 'c', arg)
VimL:       endif
VimL:     endfor
VimL:   endif
VimL: endfunction
VimL: "
VimL: let s:_expr = empty(s:Args()) ? Marker_Txt('expr') : s:Args()[0].name
switchÂ¡C_nl_before_bracket()Â¡(Â¡s:_exprÂ¡)Â¡C_nl_before_curlyB()Â¡{
VimL: call s:_LoopOverCases()
default:
{
	<+default-code+>;
	break;
}
}<++>
