VimL:" $Id: figure.template 33 2008-02-19 01:26:11Z luc.hermitte $
VimL:" Â«LaTeX: figureÂ» File Template, Luc Hermitte <hermitte at free.fr>
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = 'Â¡'
VimL: let s:reindent     = 1 
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
\begin{figure}[<+htbp+>]
	\centerline{\psfig{figure=<+eps file+>}}
	\caption{<+caption text+>}
	\label{fig:<+label+>}
\end{figure}
