VimL:" $Id: frame-beamer.template 33 2008-02-19 01:26:11Z luc.hermitte $
VimL:" frame for Beamer Template, Luc Hermitte
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'

\frame<+[options]+>
{ \frametitle{Â¡INPUT('title ?')Â¡}
\begin{itemize}
  \item <++>
\end{itemize}
}
