VimL:" $Id: foreach.template 326 2011-01-06 01:37:00Z luc.hermitte $
VimL:" ``VimL for-each loop'' File Template, Luc Hermitte <hermitte {at} free {dot} fr>
VimL:" hint: for var in list
VimL: let s:value_start  = 'Â¡'
VimL: let s:value_end    = 'Â¡'
VimL: let s:reindent     = 1
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
for <+var+> in <+list+>
	<+loop-code+>
endfor<++>

